
/*reglas 
selectores
declaraciones
propiedades
valores*/

/*
header {
    background: pink;
    color: red;
    

}

/*selector de etiqueta ej header - section -artucle-nav
selector decendente 
por clase y id 
selector de clase se hace con .
.link
selector de id es #
#portafolio
*/

body {

font-family: 'Source Sans 3', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Vollkorn',times;
    /*estilo de las fuentes*/
    font-weight: 400;
    /*estilo de fuente*/
   /* font-style: italic;*/

}

h1 {
    /*tamaño de fuente*/
    font-size: 40px ;

    /*alto de linea*/
    line-height: 1.5em ;

    
   /*separacion de las letras*/
   letter-spacing: -2px;
/*
   /*transformar las fuentes

   text-transform: uppercase;

   /*para decorar el texto
   text-decoration: underline;
*/
     
    

}

.hero {

    height: 300px;
}